@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,900&family=Ubuntu:wght@700&display=swap');
:root{
    --wordle-fonts: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --green-letter-color: green;
    --yellow-letter-color: #FFD700;
    --gray-letter-color: gray;
    --shake-amount: 5deg;
}

.shake{
    animation: screen-shake-animation 0.1s ease-in-out infinite alternate;
    
}

@keyframes screen-shake-animation{
    0%{
        transform: rotate(calc(-1*var(--shake-amount))) translateX(10%);
    }
    100%{
        transform: translateX(-10%) rotate(var(--shake-amount));
        
    }
}
.error-msgs{
    text-align: center  ;
    position: sticky;
    top: 40%;
    width: 100%;
    height: 0px;
    z-index: 1;
    

}
#not-a-word, #not-enough-letters{
   display:inline-block;
   position: sticky;
   text-align: center;
   visibility: hidden;
   font-size: large;
   padding:20px;
   background-color: black;
   color: white;
   border-radius: 7%;
}



#top-bar{
    display:flex;
    justify-content: center;
    

}
#title{
    font-family: 'Fira Sans', sans-serif;
    font-size: 300%;
    padding:0px;
    margin: 0px;

}
#grid{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(5, auto);
    align-content: center;
    justify-content: center;
    padding:10px;
    padding-top: 0px;

}

.grid-item{
    width: 58px;
    height: 58px;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    cursor: default;
    display: flex;
    text-transform: uppercase;
    border: 2px solid hsla(0,0%,69%,.69);;
}
#keyboard{
    min-width: 400px;
    background-color: white;
    width:50%;
    margin: auto;
    
}
.keyboard-row{
    overflow: hidden;
    width:100%;

    grid-gap: 1%;
    margin: 1%;
    grid-template-rows: 40px;
    display:grid;
    align-items: stretch;
    align-content: stretch;

}
#kb-row1{
    grid-template-columns: repeat(10,auto);
}
#kb-row2{
    grid-template-columns: repeat(9,auto);

}
#kb-row3{
    grid-template-columns: calc(2/11*100%) repeat(7,calc(1/11*90%)) calc(2/11*100%);

}
/*keyboard keys*/
.keyboard-row > div{
    cursor: default;
    border-radius: 7%;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    font-family: var(--wordle-fonts);
    background-color: #cdcdcd;
    transition: all 0.5s ease-out;
}
#grid > div.green-letter, #grid > div.gray-letter, #grid > div.yellow-letter{
    animation: letter-reveal 0.25s ease-in-out;
}
@keyframes letter-reveal{
    0%{
        transform: rotate3d(1, 0, 0, 270deg);;
    }
    100%{
        transform: rotate3d(1, 0, 0, 360deg);;
    }
}
div.green-letter{
    background-color: var(--green-letter-color);
}
div.yellow-letter{
    background-color: var(--yellow-letter-color);
}
div.gray-letter{
    background-color: var(--gray-letter-color);
}
div.green-letter, div.yellow-letter, div.gray-letter{
    color: white;
}
div.key-clicked{

    font-size: 25px !important;
    color: red;
    
}
@keyframes keyclicked{}